# Environments
venv/
.env
.env.*
frontend/.env.*

# Dependencies
frontend/node_modules/

# Build artifacts
frontend/build/
dist/
build/

# Python
__pycache__/
*.py[cod]

# Logs
*.log
logs/

# OS
.DS_Store