<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ stock.Name }} - Stock Info</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/trade.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='portfolio.css') }}">
</head>
<body>
    <div class="page-overlay"></div>
    <nav class="navbar">
        <div class="navbar-left">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='Logo1.png') }}" alt="Company Logo"><span>Apex Trading</span>
            </a>
            <div class="navbar-menu">
                <a href="{{ url_for('api.asset') }}">Assets</a>
                <a href="{{ url_for('api.news') }}">News</a>
                <a href="/about">About Us</a>
            </div>
            <!-- Updated Search Bar -->
            <div class="search-container">
                <form class="search-form" action="{{ url_for('api.asset') }}" method="get">
                    <input type="search" name="symbol" placeholder="Search symbol or site..." class="search-input" required>
                    <button type="submit" class="search-button">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="navbar-buttons">
            {% if session.get('id') %}
                <span class="welcome-text"><a href="{{ url_for('api.portfolio') }}">{{ session.get('username') }} ｜{{ session.get('name') }} </a></span>
                <a href="{{ url_for('api.logout') }}" class="btn-signup">Logout</a>
            {% else %}
                <a href="{{ url_for('api.login') }}" class="btn-login">Login</a>
                <a href="{{ url_for('api.register') }}" class="btn-signup">Sign Up</a>
            {% endif %}
        </div>
    </nav>

    <div class="top-info">
        <div>
            <h1 id="stockSymbol" data-symbol="{{ stock.Symbol }}">{{ stock.Name }} <span class="h4 text-muted">({{ stock.Symbol }})</span></h1>
            <p class="exchange">{{ stock.Exchange }}</p>
        </div>
        <div class="stock-details">
            <p class="price">${{ stock.Price }}</p>
            <p class="high-low">
                <i class="fas fa-arrow-up text-success"></i> High: ${{ stock.WeekHigh }}
                <i class="fas fa-arrow-down text-danger ms-3"></i> Low: ${{ stock.WeekLow }}
            </p>
        </div>
    </div>

     <div class="flash-messages-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="container mt-4">
      <h5>Filter Stock Data by Date Range</h5>

      <form action="{{ url_for('api.asset') }}" method="get">
        <div class="row g-3 align-items-end">
          <input type="hidden" name="symbol" value="{{ stock.Symbol }}">

          <div class="col-md-3">
            <label for="start_date" class="form-label">Start Date</label>
            <input type="date" id="start_date" name="start_date"
                   class="form-control" value="{{ start_date }}" required>
          </div>

          <div class="col-md-3">
            <label for="end_date" class="form-label">End Date</label>
            <input type="date" id="end_date" name="end_date"
                   class="form-control" value="{{ end_date }}" required>
          </div>

          <div class="col-auto">
            <button type="submit" class="btn btn-primary py-3">Apply Filter</button>
          </div>

          <div class="col">
            <button type="button"
                    class="btn btn-primary w-100 py-3"
                    onclick="openTradeSidebar('{{ stock.Symbol }}', 1, {{ stock.Price }})">
              Trade
            </button>
          </div>
        </div>
      </form>
</div>


        <div class="chart-container">
            <!-- Candlestick Chart -->
            <div id="candlestickChart">{{ candlestick_chart | safe }}</div>

            <!-- Bar Chart -->
            <div id="barChart">{{ bar_chart | safe }}</div>

            <!-- RSI Chart -->
            <div id="lineChart">{{ line_chart | safe }}</div>

        </div>


        <div class="metrics-container">
            <h3>Financial Metrics</h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover metrics-table">
                        <thead class="table-header">
                            <tr>
                                <th>Metric</th>
                                <th>Value</th>
                                <th>Metric</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Sector</td>
                                <td>{{ stock.Sector }}</td>
                                <td>Industry</td>
                                <td>{{ stock.Industry }}</td>
                            </tr>
                            <tr>
                                <td>Market Cap</td>
                                <td>${{ stock.MarketCap }}</td>
                                <td>P/E Ratio</td>
                                <td>{{ stock.PERatio }}</td>
                            </tr>
                            <tr>
                                <td>Earnings Per Share</td>
                                <td>${{ stock.EPS }}</td>
                                <td>Dividend</td>
                                <td>${{ stock.Dividend }} ({{ stock.DividendYield }}%)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!-- News Section -->
        <div class="news-container">
            <h3>Recent News</h3>
            <ul id="news-list" class="list-group">
                <li class="list-group-item">
                    <a href="{{ urls[0] }}" target="_blank" rel="noopener noreferrer">{{ titles[0] }}</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ urls[1] }}" target="_blank" rel="noopener noreferrer">{{ titles[1] }}</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ urls[2] }}" target="_blank" rel="noopener noreferrer">{{ titles[2] }}</a>
                </li>
            </ul>
        </div>

    <!-- Trade Sidebar - Initially hidden -->
    <div id="tradeSidebar" class="general-sidebar">
        <div class="general-sidebar-header">
            <h3>Trade <span id="Symbol">{{ stock.Symbol }}</span></h3>
            <button class="close-sidebar-btn">&times;</button>
        </div>
        <div class="general-sidebar-content">
            <div id="tradeSidebarAlert"
                 class="alert alert-danger d-none"
                 role="alert">
            </div>
            <form id="tradeForm">
                <div class="order-inputs">
                <input type="hidden" name="symbol" id="tradeSymbolInput">
                <div class="order-type-selector">
                    <button type="button" class="order-type-btn active" data-type="buy">Buy</button>
                    <button type="button" class="order-type-btn" data-type="sell">Sell</button>
                    <input type="hidden" id="actionType" name="actionType" value="buy">
                </div>
                    <div class="input-group">
                        <label>Quantity
                            <input type="number" id="tradeQuantity" name="quantity" min="1" value="1">
                        </label>
                    </div>

                    <div class="input-group">
                        <label for="tradeOrderType">Order Type</label>
                        <select id="tradeOrderType" name="orderType">
                            <option value="market">Market</option>
                            <option value="limit">Limit</option>
                        </select>

                    <div class="input-group" id="tradePriceInput">
                        <label for="tradePrice">Price ($)</label>
                        <input type="number" id="tradePrice" name="price" step="0.01">
                    </div>
                </div>

                <div class="order-summary">
                    <div class="summary-item">
                        <span>Current Price:</span>
                        <span class="current-price">$<span id="tradeCurrentPrice">0.00</span></span>
                    </div>
                    <div class="summary-item">
                        <span>Current Holdings:</span>
                        <span class="current-holdings"><span id="tradeCurrentHoldings">0</span> shares</span>
                    </div>
                    <div class="summary-item">
                        <span>Estimated Total:</span>
                        <span class="total-price">$<span id="tradeTotalPrice">0.00</span></span>
                    </div>
                </div>

                <button type="submit" id="place-order-btn" class="place-order-btn">Place Order</button>
             </div>
            </form>
        </div>
    </div>

    <footer class="footer gradient-background">
        &copy; 2025 Apex Trading Platform. All Rights Reserved.
    </footer>

</body>
</html>